
@{
    ViewData["Title"] = "Bienvenido";
}

<h1>Bienvenido</h1>

<ul>
    @{
        int numVeces = (int)ViewData["numVeces"];
        for (int i = 0; i < numVeces; i++) 
        {
            <li>@ViewData["nombre"], veces mostrado = @(i + 1)</li>
        }
    }
</ul>

